
menu "Motion Sensors Support"

choice
    bool "Motion Processing Unit"
    depends on I2C
    default MPU_SENSORS_MPU3050_V333

config MPU_NONE
    bool "None"


config MPU_SENSORS_MPU3050_V333
    tristate "MPU3050"
    depends on I2C


endchoice

choice
    prompt "Accelerometer Type"
    depends on MPU_SENSORS_MPU3050_V333
    default MPU_SENSORS_ACCELEROMETER_NONE_V333

config MPU_SENSORS_ACCELEROMETER_NONE_V333
    bool "NONE"
    depends on MPU_SENSORS_MPU3050_V333

endchoice

choice
    prompt "Compass Type"
    depends on MPU_SENSORS_MPU3050_V333
    default MPU_SENSORS_NONE_V333

config MPU_SENSORS_COMPASS_NONE_V333
    bool "NONE"
    depends on MPU_SENSORS_MPU3050_V333

endchoice

choice
    prompt "Pressure Type"
    depends on MPU_SENSORS_MPU3050_V333
    default MPU_SENSORS_BMA085_V333

config MPU_SENSORS_PRESSURE_NONE_V333
    bool "NONE"
    depends on MPU_SENSORS_MPU3050_V333

config MPU_SENSORS_BMA085_V333
    bool "Bosch BMA085"
    depends on MPU_SENSORS_MPU3050_V333

endchoice

config MPU_SENSORS_TIMERIRQ_V333
    tristate "Timer IRQ"

config MPU_SENSORS_DEBUG_V333
    bool "MPU debug"
    depends on MPU_SENSORS_MPU3050_V333 || MPU_SENSORS_TIMERIRQ_V333

endmenu
