# arch/arm/mach-omap2/Kconfig.sec
#
# Copyright (C) 2011 Samsung Electronics Co, Ltd.
#
# This software is licensed under the terms of the GNU General Public
# License version 2, as published by the Free Software Foundation, and
# may be copied, distributed, and modified under those terms.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#

config MACH_OMAP4_SAMSUNG
	bool "OMAP4 based Samsung Board"
	depends on ARCH_OMAP4
	select OMAP_PACKAGE_CBL
	select OMAP_PACKAGE_CBS
	select REGULATOR_FIXED_VOLTAGE
	default n

config MACH_SAMSUNG_ESPRESSO
	bool "Samsung Espresso (GT-P3100) Board"
	default n
	select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_ESPRESSO_TSP

config FW_SAMSUNG_ESPRESSO_TSP
	bool
	default n

if BT
config BT_BCM4330
	bool "Enable BCM4330 driver"
	default n
	help
		Adds BCM4330 RFKILL driver for Broadcom BCM4330 chipset

config BT_BCM4334
	bool "Enable BCM4334 driver"
	default n
	help
		Adds BCM4334 RFKILL driver for Broadcom BCM4334 chipset

config BT_MGMT
	bool "Bluetooth Mgmt"
	default n
	help
		This is for bluetooth mgmt
endif

config OMAP_STMPE_NR
	int "Number used STMPE MFD device for OMAP"
	default 1
	depends on ARCH_OMAP && MFD_STMPE
	help
		Define a number of used STMPE MFD device attached to OMAP.
		STMPE is can be used for a GPIO-Expander / Key-Matrix
		device, and it rquires its own IRQ number. Generally, only
		one STMPE is used on one device but two or more STMPE device
		are also used if number of GPIOs are not enough on OMAP.

menu "OMAP Samsung Specific Configurations"

config SAMSUNG_CONSOLE_UART
	int "used console uart port"
	default 4

endmenu
